name: Autobump on push

on:
  push:
    branches:
      - master

jobs:
  autobump:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.28
      - uses: paulhatch/semantic-version@v6.0.0
        id: version
        with:
          tag_prefix: ''
          major_pattern: '/\w+(\(\w+\))?\!:\s.+/'
          minor_pattern: '/feat(\(\w+\))?:\s.+/'
          format: "${major}.${minor}.${patch}-dev${increment}"
          bump_each_commit: true
      - name: Release
        uses: ncipollo/release-action@v1.20.0
        with:
          tag: ${{ steps.version.outputs.version_tag }}
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
